<main class="ltf-flex ltf-align-items-center ltf-flex-wrap">
    <mat-card class="ltf-w-30 ltf-mbottom-1 ltf-mright-1" *ngFor="let bankAccount of bankAccountsDto">
        <mat-card-header>
            <mat-card-title-group>
                <mat-card-title>{{ bankAccount.institution }}</mat-card-title>
                <mat-card-subtitle>
                    <ng-container *ngIf="bankAccount.nickname; else noNickname">
                        {{ bankAccount.nickname }}
                    </ng-container>
                    <ng-template #noNickname><br></ng-template>
                </mat-card-subtitle>
            </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
            {{ bankAccount.formattedBalance }}
        </mat-card-content>
    </mat-card>
</main>