<main class="fc-w-30 fc-center fc-ptop-5">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                <h1>Redefinir senha</h1>
            </mat-card-title>
            <mat-card-subtitle>
                <div [ngSwitch]="stepper.selectedIndex">
                    <span *ngSwitchCase="0">
                        Você irá receber um código no e-mail informado para prosseguir na redefinição de senha.
                    </span>
                    <span *ngSwitchCase="1">
                        Digite o código recebido.
                    </span>
                    <span *ngSwitchCase="2">
                        Crie uma nova senha.
                    </span>
                </div>
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <mat-stepper linear #stepper>
                <mat-step [editable]="false">
                    <fc-send-code (eventNextStep)="stepper.next()" (eventCancel)="backToLogin()"></fc-send-code>
                </mat-step>
                <mat-step [editable]="false">
                    <fc-validate-code (eventNextStep)="stepper.next()" (eventCancel)="backToLogin()"></fc-validate-code>
                </mat-step>
                <mat-step [editable]="false">
                    <fc-new-password (eventFinish)="backToLogin()" (eventCancel)="backToLogin()"></fc-new-password>
                </mat-step>
            </mat-stepper>
        </mat-card-content>
    </mat-card>
</main>