<main class="fc-w-30 fc-center fc-ptop-5">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                <div class="fc-w-100 fc-txt-center">
                    <h1>Finance Control</h1>
                </div>
            </mat-card-title>
        </mat-card-header>
        <hr class="fc-w-95">
        <mat-card-content>
            <form [formGroup]="loginForm" (submit)="login()">
                <mat-form-field class="fc-w-100 fc-mtop-1">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email">
                    <mat-error *ngIf="loginForm.controls['email'].hasError('required')">Informe o email</mat-error>
                </mat-form-field>
                <mat-form-field class="fc-w-100 fc-mtop-1">
                    <mat-label>Senha</mat-label>
                    <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password">
                    <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" type="button">
                        <mat-icon>{{ hidePassword ? 'visibility' : 'visibility_off' }}</mat-icon>
                    </button>
                    <mat-error *ngIf="loginForm.controls['password'].hasError('required')">Informe a senha</mat-error>
                </mat-form-field>
                <div class="fc-txt-right">
                    <button mat-button type="button">
                        Esqueceu a senha?
                    </button>
                </div>
                <div class="fc-mtop-1">
                    <button mat-raised-button color="primary" class="fc-w-100" type="submit">
                        Login
                    </button>
                </div>
                <div class="fc-mtop-1 fc-flex fc-align-items-center">
                    Não tem uma conta?
                    <button mat-button type="button">
                        Cadastre-se
                    </button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</main>