<form [formGroup]="sendCodeForm" (submit)="sendCodeToEmail()">
    <mat-form-field class="fc-w-100 fc-ptop-1">
        <mat-label>E-mail</mat-label>
        <input matInput formControlName="email">
        <mat-error *ngIf="sendCodeForm.controls['email'].hasError('required')">
            Informe o e-mail
        </mat-error>
        <mat-error *ngIf="sendCodeForm.controls['email'].hasError('pattern')">
            E-mail inválido
        </mat-error>
        <mat-icon matSuffix>mail</mat-icon>
    </mat-form-field>
    <section class="fc-ptop-1 fc-flex fc-align-items-center fc-justify-content-end">
        <button mat-raised-button type="button" (click)="cancel()">
            Cancelar
        </button>
        <button mat-raised-button color="primary" type="submit" class="fc-mleft-1">
            Receber código
        </button>
    </section>
</form>