<form [formGroup]="updatePasswordForm" (submit)="createNewPassword()">
    <mat-form-field class="fc-w-100">
        <mat-label>Nova senha</mat-label>
        <input matInput formControlName="newPassword" [type]="hidePassword ? 'password' : 'text'">
        <mat-error *ngIf="updatePasswordForm.controls['newPassword'].hasError('required')">
            Informe a senha
        </mat-error>
        <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" type="button">
            <mat-icon>{{ hidePassword ? 'visibility' : 'visibility_off' }}</mat-icon>
        </button>
    </mat-form-field>
    <section class="fc-ptop-1 fc-flex fc-align-items-center fc-justify-content-end">
        <button mat-raised-button type="button" (click)="cancel()">
            Cancelar
        </button>
        <button mat-raised-button color="primary" type="submit" class="fc-mleft-1">
            Confirmar
        </button>
    </section>
</form>