<div class="ltf-w-30 ltf-center ltf-ptop-3">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                <div class="ltf-w-100 ltf-txt-center">
                    <h1>{{ 'USER_REGISTRATION.TITLE' | translate }}</h1>
                </div>
            </mat-card-title>
        </mat-card-header>
        <hr class="ltf-w-95">
        <mat-card-content>
            <form [formGroup]="userRegistrationForm" (submit)="registerUser()">
                <mat-form-field class="ltf-w-100 ltf-mtop-1">
                    <mat-label>{{ 'USER_REGISTRATION.USERNAME' | translate }}</mat-label>
                    <input matInput formControlName="username" required>
                    <mat-error *ngIf="userRegistrationForm.controls['username'].hasError('required')">
                        {{ 'USER_REGISTRATION.ERROR_REQUIRED_USERNAME' | translate }}
                    </mat-error>
                    <mat-error *ngIf="userRegistrationForm.controls['username'].hasError('pattern')">
                        {{ 'USER_REGISTRATION.ERROR_PATTERN_USERNAME' | translate }}
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="ltf-w-100 ltf-mtop-1">
                    <mat-label>{{ 'USER_REGISTRATION.EMAIL' | translate }}</mat-label>
                    <input matInput formControlName="email" required>
                    <mat-error *ngIf="userRegistrationForm.controls['email'].hasError('required')">
                        {{ 'USER_REGISTRATION.ERROR_REQUIRED_EMAIL' | translate }}
                    </mat-error>
                    <mat-error *ngIf="userRegistrationForm.controls['email'].hasError('pattern')">
                        {{ 'USER_REGISTRATION.ERROR_PATTERN_EMAIL' | translate }}
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="ltf-w-100 ltf-mtop-1">
                    <mat-label>{{ 'USER_REGISTRATION.PASSWORD' | translate }}</mat-label>
                    <input matInput formControlName="password" required [type]="hidePassword ? 'password' : 'text'"
                        (ngModelChange)="updateConfirmValidator()">
                    <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword">
                        <mat-icon>{{ hidePassword ? 'visibility' : 'visibility_off' }}</mat-icon>
                    </button>
                    <mat-error *ngIf="userRegistrationForm.controls['password'].hasError('required')">
                        {{ 'USER_REGISTRATION.ERROR_REQUIRED_PASSWORD' | translate }}
                    </mat-error>
                    <mat-error *ngIf="userRegistrationForm.controls['password'].hasError('minlength')">
                        {{ 'USER_REGISTRATION.ERROR_MINLENGTH_PASSWORD' | translate }}
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="ltf-w-100 ltf-mtop-1">
                    <mat-label>{{ 'USER_REGISTRATION.CONFIRM_PASSWORD' | translate }}</mat-label>
                    <input matInput formControlName="confirmPassword" required
                        [type]="hideConfirmPassword ? 'password' : 'text'">
                    <button mat-icon-button matSuffix (click)="hideConfirmPassword = !hideConfirmPassword">
                        <mat-icon>{{ hideConfirmPassword ? 'visibility' : 'visibility_off' }}</mat-icon>
                    </button>
                    <mat-error *ngIf="userRegistrationForm.controls['confirmPassword'].hasError('required')">
                        {{ 'USER_REGISTRATION.ERROR_REQUIRED_CONFIRM_PASSWORD' | translate }}
                    </mat-error>
                    <mat-error *ngIf="userRegistrationForm.controls['confirmPassword'].hasError('confirm')">
                        {{ 'USER_REGISTRATION.ERROR_CONFIRM_PASSWORD' | translate }}
                    </mat-error>
                </mat-form-field>
                <div class="ltf-mtop-1 ltf-flex ltf-justify-content-end">
                    <button mat-button type="button" (click)="cancelRegisterUser()">
                        {{ 'USER_REGISTRATION.CANCEL' | translate }}
                    </button>
                    <button mat-raised-button color="primary" type="submit" class="ltf-mleft-1"
                        (click)="registerUser()">
                        {{ 'USER_REGISTRATION.REGISTER' | translate }}
                    </button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>